@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashboard"] = true;

    var palette = new string[] { "#76a7f4", "#6b8ce6", "#6071d7", "#8671e1", "#ab71eb", "#b188ef", "#b69ff2", "#bcb6f6", "#c1cdf9" };
}

<div class="sideBar" id="sideBar">
    <div class="sideBarContent">
        <button class="Btn" data-controller="Category" data-action="Index" style="border:none; background-color:inherit; font-size: 20px; color:#edf2fb;">
            <i class="fas fa-folder"></i> <span class="btnText">Categories</span>
        </button>
        <p class="buttonText"> </p>

        <button class="Btn" data-controller="Transaction" data-action="Index" style="border:none; background-color:inherit; font-size: 20px; color:#edf2fb;">
            <i class="fas fa-exchange-alt"></i> <span class="btnText">Transactions</span>
        </button>
        <p class="buttonText"> </p>

        <button class="Btn" data-controller="Dashboard" data-action="Index" style="border:none; background-color:inherit; font-size: 20px; color: #edf2fb;">
            <i class="fas fa-home" style="font-size: 20px;"></i> <span class="btnText">Dashboard</span>
        </button>

    </div>


    <!-- Application Name at Bottom -->
    <div class="appName">
        <span class="shortName">XPT</span>
        <span class="fullName">XPenseTracker</span>
    </div>
</div>

<div class="rightSideBar" id="rightSideBar">
    <div class="sideBarContent">

        <button class="Btn" data-controller="Dashboard" data-action="TodayView">
            <i class="fa-solid fa-calendar-day" style="font-size: 25px; color:#ff7497 !important"></i>
        </button>
        <p class="buttonText">Today</p>

        <button class="Btn" data-controller="Dashboard" data-action="Index">
            <i class="fa-solid fa-calendar-week" style="font-size: 25px;"></i>
        </button>
        <p class="buttonText">Week</p>

        <button class="Btn" data-controller="Dashboard" data-action="MonthView">
            <i class="fa-solid fa-calendar-days" style="font-size: 25px;"></i>
        </button>
        <p class="buttonText">Month</p>
    </div>

    <!--Settings Button Container-->
    <div class="bottomName">
        <button class="Btn" data-controller="Settings" data-action="SettingsView">
            <i class="fa-solid fa-gear" style="font-size: 25px;"></i>
        </button>
        <span class="shortName">Settings</span>
    </div>
</div>


@*Summary Widgets*@
<div class="row mb-4">

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Income</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalIncomeToday</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Expense</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalExpenseToday</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Balance</span>
                <h1 class="display-6 fw-bold">@ViewBag.BalanceToday</h1>
            </div>
        </div>
    </div>
</div>

@*List and Column Charts*@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">All Today's Transactions</h5>

            </div>
            <ejs-grid id="recent-transactions" dataSource="@ViewBag.RecentTransactions" gridLines="None" class="mb-3">
                <e-grid-columns>
                    <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                    @* <e-grid-column headerText="Date" field="Date" width="150px"
                                   format="MMM-dd-yy" type="date" textAlign="Left"></e-grid-column> *@
                    <e-grid-column headerText="Amount" field="FormattedAmount" width="100px"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Income vs Expenses of Today</h5>

            </div>
            <ejs-chart id="spline-chart">
                <e-chart-primaryxaxis valueType="Category"></e-chart-primaryxaxis>
                <e-chart-primaryyaxis></e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="@ViewBag.ColumnChartData" xName="day"
                              yName="income" name="Income"
                              type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" fill="#6071d7">

                    </e-series>
                    <e-series dataSource="@ViewBag.ColumnChartData" xName="day"
                              yName="expense" name="Expense"
                              type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" fill="#ff7497">

                    </e-series>
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far">
                    <e-legendsettings-textstyle color="black" fontFamily="Calibri" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
                <e-chart-tooltipsettings enable shared>
                    <e-tooltipsettings-textstyle color="white" fontFamily="Calibri"> </e-tooltipsettings-textstyle>
                </e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>
</div>